<%- include ./partials/header.ejs %>
<%- include ./partials/navigation.ejs %>

  <main>
 <div class="container"> 
  <center><h1>Welcome to the <%= title %> page <h1>
  <img src="/Assests/images/CRUD Image.png" alt="Image unavailable" width="85%" height="85%"</center>
</div>
<%- include ./partials/footer.ejs %>
<%- include ./partials/scripts.ejs %>
 